---
import BlogLayout from "../../layouts/BlogLayout.astro";
---


<BlogLayout>
    <div class="flex">
        <div class="flex flex-col text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel semper leo. Quisque et mi bibendum,
                ullamcorper massa quis, sagittis ligula. Pellentesque massa leo, sollicitudin vitae lobortis sit amet,
                congue et velit. Cras id commodo sapien. Phasellus sed elementum orci. Duis dapibus quis mi sit amet
                ultricies. Pellentesque pellentesque pharetra eleifend. In hac habitasse platea dictumst.</p>

            <p>Mauris molestie odio lorem, non fringilla risus tristique a. Nullam dignissim egestas orci, ut varius
                orci
                finibus ac. Duis id finibus orci. Duis dignissim metus ipsum, nec ultricies nulla eleifend ac. Maecenas
                convallis nisl ut tellus dictum laoreet. Curabitur interdum sit amet ante a rutrum. Sed eu tincidunt
                lectus,
                eu ornare mauris. Suspendisse placerat viverra lorem vitae aliquam. Nullam ut ultrices ligula. Proin
                cursus
                nibh id est interdum interdum.</p>

            <p>Nam viverra augue at lacus dapibus volutpat. Sed laoreet venenatis dui in maximus. Cras congue leo eu
                justo
                imperdiet, sit amet vestibulum ex viverra. Ut lorem lacus, eleifend ac dignissim condimentum, eleifend
                et
                nulla. Nunc a libero ac urna porta convallis ut quis nibh. Aenean eu felis euismod lectus elementum
                dictum.
                Duis ac ante augue. Aliquam at dignissim diam. Phasellus non bibendum tellus. Pellentesque vitae
                consequat
                ipsum, ut pellentesque ipsum. Curabitur nulla quam, sagittis at nulla eu, aliquam interdum sem. Duis
                augue
                metus, facilisis sit amet mauris id, posuere mattis diam. Curabitur viverra massa at est ornare, id
                tristique massa ultrices. In eget neque et quam porta laoreet nec at nisl. Sed ut dui vestibulum eros
                vulputate commodo ut eget sapien. Donec in tristique eros.</p>
        </div>
        <div class="flex flex-col">
        </div>
    </div>
</BlogLayout>