---
import '../styles/global.scss';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>I'm Paths - Blog</title>
</head>
<body>
<div class="flex flex-col items-center">
    <article>
        <h1>Hi! I'm Paths.</h1>
        <slot/>
    </article>
</div>
</body>
</html>
